.App-Cont {
  padding: 40px 200px;
}

.App {
  /* text-align: center; */
  border: 2px black solid;
  height: 100vh;
  padding: 10px;
}

.GeneralContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Role {
  text-transform: uppercase;
  color: red;
}


