.App-Cont {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  border: 2px black solid;
  height: 100vh;
  padding: 10px;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 40px;

}

.GeneralContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Role {
  text-transform: uppercase;
  color: red;
}

.SummaryContainer {
  width: 100%;
  padding: 10px 0;
}

.SummaryContainer h4 {
  text-align: center;

}

hr {
  width: 100%;
  margin: auto;
  border: black solid 0.5px;
  color: black;
}


